*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #333;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(50deg,#ff006a,#7700ff);
    background-clip: text;
    color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}
.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all .7s ease;
    white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover{
    background: linear-gradient(50deg,#ff006a,#7700ff);
    background-clip: text;
    color: transparent;
}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #333;
    transition:  all 0.3s ease-in-out;
    border-radius: 18px;
}
header {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10rem;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px;
}

section ul {
  padding-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: #eee;
    margin-top: 40px;
}
@media (max-width: 782px) {
    .navbar-container .navbar-menu{
        padding: 0 1rem;
    }
}    